# ==========================================
# SHIROWAHD — ENVIRONMENT CONFIGURATION
# ==========================================

# --- [ 01. ADMIN & WEB ] ---
ADMIN_PASSWORD=
DOMAIN=

# --- [ 02. GITHUB BACKUP ] ---
GIT_ADDRESS=
GIT_TOKEN=
BRANCH=main
GIT_AUTO_SYNC=0

# --- [ 03. TELEGRAM NOTIFICATION ] ---
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# --- [ 04. CLOUDFLARE ] ---
ENABLE_TUNNEL=0
CF_ACCOUNT=
CF_EMAIL=
CF_KEY=
CF_TUNNEL_ID=

# --- [ 05. WHATSAPP BOT ] ---
PAIRING_NUMBER=
WATCHDOG_MINUTES=180

# --- [ 06. API KEYS & AI ] ---
GEMINI_API_KEY=
APIKEY_LOLHUMAN=
APIKEY_NEOXR=
APIKEY_FGSI=
APIKEY_GOOGLE=
APIKEY_GROQ=
APIKEY_BETABOTZ=
APIKEY_COVENANT=
APIKEY_ONLYM=
APIKEY_OBSCURA=
APIKEY_FIREFLY=
APIKEY_CUKI=

# --- [ 07. SNOWKIT PLAYER ] ---
SNOWKIT_ENDPOINT=
SNOWKIT_TOKEN=

# --- [ 08. SCRAPERS & COOKIES ] ---
TERABOX_COOKIE=
IMGDROP_COOKIE=

# --- [ 09. SYSTEM RUNTIME ] ---
RSS_LIMIT_MB=
DEBUG_PLUGINS=
NODE_ENV=production
